//.flex {
//  display: flex;
//  flex: 1;
//  flex-direction: row;
//  justify-content: center;
//  flex-wrap: wrap;
//  column-gap: 15px;
//  row-gap: 15px;
//  padding: 40px;
//}
.flex {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 40px;
}
