.main {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  .title {
    font-weight: bold;
    letter-spacing: 5px;
    color: #1a79cf;
    margin-bottom: 10px;
  }
  .description {
  }
  .price {
  }
}
